<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>index</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="root">
            <h1 v-if="show">Hello World!</h1>
            <button @click="handleClick">toggle</button>
            <ul>
                <li v-for="(item, index) of list" :key="index">{{ index }}</li>
            </ul>
        </div>
        <script>
            new  Vue({
                el: '#root',
                data: {
                    show: false,
                    list: [1,1,1,2,3,4,5]
                },
                methods: {
                    handleClick: function(){
                        this.show = !this.show
                    }  
                },
            })
        </script>
    </body>
</html>